:root {
  --primary-bg: #171923;
  --secondary-bg: #1e202a;
  --tertiary-bg: #13141b;
  --primary-text: #9E90F4;
  --secondary-text: #A0AEC0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100vh;
  width: 100vw;
  display: unset;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg);
  padding: 200px 0px;
  z-index: -2;
  height: 100vh;
  width: 100%;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#header-top {
  animation: slideInFromRight 1s 0s forwards;
  filter: drop-shadow(0 0 0.5rem #000000);
}

#header-bottom {
  animation: slideInFromLeft 1s 0s forwards;
  filter: drop-shadow(0 0 0.5rem #000000);
}

.name-format {
  color: #9E90F4;
}

.nav-wrapper {
  position: sticky;
  top: 0px;
  background-color: var(--secondary-bg);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 100%;
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin: 0px 20px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-text);
  border-bottom: 3px solid var(--secondary-text);
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  border: 4px solid var(--primary-text);
  padding: 5px 25px;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-text);
  animation: slideInFromBottom 1s 0s forwards;
  animation-delay: 1s;
  visibility: hidden;
  cursor: pointer;
}

.button-wrapper svg {
  margin-left: 15px;
}

#canvas {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.about-wrapper {
  background-color: var(--tertiary-bg);
  padding-top: 1px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.avatar-wrapper {
  margin: 25px;
  background-image: url('./assets/images/testing.PNG');
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 8px solid #0b0d14;
  filter: drop-shadow(0 0 1.25rem rgb(64,60,96, 0.8));
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--tertiary-bg);
  padding: 50px;
}

.about-text {
  margin: 20px;
  color: #A0AEC0;
  opacity: 75%;
  width: 550px;
}

p {
  color: white;
  font-size: 50px;
}

.techs-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tech-wrapper {
  padding: 20px;
  margin: 5px;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-wrapper::before {
  padding: 80px;
  margin: -25px;
  content: "";
  position: absolute;
  border: 6px solid transparent;
  background: linear-gradient(#4786F3, #AE91F3) border-box;
  border-radius: 30px;
  mask: /*4*/
  linear-gradient(#fff 0 0) padding-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude;
}

.tech-wrapper p {
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
}

.tech-format {
  height: 100px;
  filter: grayscale(100%);
}

.tech-wrapper:nth-last-child(1):nth-child(odd) {
  grid-column: 2 / span 2;
}

.icon-format {
  width: 64px;
  height: 64px;
  transition: transform .2s;
  cursor: pointer;
}

.icon-format:hover {
  transform: scale(1.25);
}

.footer {
  padding: 50px;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer p {
  font-size: 15px;
}

.nav-links .active {
  color: #a78cf3;
  transition: all 0.2s;
  border-bottom: 3px solid #a78cf3;
}

.nav-links a:hover {
  color: #a78cf3;
  transition: all 0.2s;
  border-bottom: 3px solid #a78cf3;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-25%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(+25%);
    opacity: 0%;  
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(+100%);
    opacity: 0%;
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
    visibility: visible;
  }
}
