/* Root var declarations */
:root {
  --primary-bg: #171923;
  --secondary-bg: #1e202a;
  --tertiary-bg: #13141b;
  --primary-text: #9E90F4;
  --secondary-text: #A0AEC0;
}

/* General element styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100vh;
  width: 100vw;
  display: unset;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: white;
  font-size: 50px;
}


label {
  color: var(--secondary-text);
}

/* General styles */

.content-format {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--tertiary-bg);
  padding: 50px;
  z-index: 15;
}

.content-text {
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  color: #A0AEC0;
  opacity: 75%;
  max-width: 550px;
}

.section-header {
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 1rem #000;
}

.section-header::before {
  content: '';
  border-bottom: 40px solid var(--primary-text);
  width: 10rem;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 3rem;
  top: 3rem;
  z-index: -1;
}

.ease-anim {
  opacity: 0;
}

/* Header styles */

#canvas {
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg);
  padding: 200px 0px;
  z-index: -2;
  height: 100vh;
  width: 100%;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#header-top {
  animation: slideInFromRight 1s 0s forwards;
  filter: drop-shadow(0 0 0.5rem #000000);
}

#header-bottom {
  animation: slideInFromLeft 1s 0s forwards;
  filter: drop-shadow(0 0 0.5rem #000000);
}

.name-format {
  color: #9E90F4;
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  border: 4px solid var(--primary-text);
  padding: 5px 25px;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-text);
  animation: slideInFromBottom 1s 0s forwards;
  animation-delay: 1s;
  visibility: hidden;
  cursor: pointer;
}

.button-wrapper svg {
  margin-left: 15px;
}

/* Nav styles */

.nav-wrapper {
  position: sticky;
  top: 0px;
  background-color: var(--secondary-bg);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 100%;
  filter: drop-shadow(0 20px 1.2rem rgb(0, 0, 0, 0.35));
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin: 0px 20px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-text);
}

.nav-links .active {
  color: #a78cf3;
  transition: all 0.2s;
  border-bottom: 3px solid #a78cf3;
}

.nav-links a:hover {
  color: #a78cf3;
  transition: color 0.2s;
  border-bottom: 3px solid #a78cf3;
}

/* About section styles */

.about-wrapper {
  background-color: var(--tertiary-bg);
  padding-top: 1px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.avatar-wrapper {
  margin: 25px;
  background-image: url('./assets/images/testing.PNG');
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 8px solid #0b0d14;
  filter: drop-shadow(0 0 1.25rem rgb(64,60,96, 0.8));
}

.techs-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tech-wrapper {
  padding: 20px;
  margin: 5px;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-wrapper::before {
  padding: 80px;
  margin: -25px;
  content: "";
  position: absolute;
  border: 6px solid transparent;
  background: linear-gradient(#4786F3, #AE91F3) border-box;
  border-radius: 30px;
  mask: /*4*/
  linear-gradient(#fff 0 0) padding-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude;
}

.tech-wrapper p {
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
}

.tech-format {
  height: 100px;
  filter: grayscale(100%);
}

/* Footer styles */

.icon-format {
  width: 64px;
  height: 64px;
  transition: transform .2s;
  cursor: pointer;
}

.icon-format:hover {
  transform: scale(1.25);
}

.footer {
  position: relative;
  z-index: 15;
  padding: 50px;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer p {
  font-size: 15px;
}

/* Portfolio section styles */

.project-format {
  grid-column: span 2;
  max-width: 600px;
  margin: 20px;
  border: 0.125em solid rgb(229, 231, 235, 0.25);
  border-radius: 1%;
}

.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img-format {
  object-fit: cover;
  z-index: 0;
  width: 600px;
  height: 250px;
}

.transition-opacity {
  opacity: 15%;
  transition: all 0.3s;
}

.project-text {
  padding: 1.5rem;
}

.project-text h3 {
  color: var(--primary-text);
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.project-text h2 {
  margin-top: 1px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.project-text p {
  margin-top: 15px;
  font-size: 1.5rem;
  color: var(--secondary-text);
}

.project-button {
  cursor: pointer;
  display: flex;
  gap: 5px;
  margin: 10px;
  border: 0.2rem solid var(--primary-text);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  color: var(--primary-text);
}

.project-button:hover {
  color: white;
  transition: all 0.3s;
  background-color: var(--primary-text);
}

.project-button-wrapper {
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Contact section styles */

.contact-form {
  background-color: #171923;
  border: 0.125em solid rgb(229, 231, 235, 0.25);
  border-radius: 1%;
  padding: 40px;
  max-width: 1000px;
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 1rem rgb(0,0,0,0.25));
}

.form-input {
  margin: 8px;
  width: auto;
}

.form-button {
  justify-content: center;
  width: 25%;
  margin-bottom: 0px;
}

/* Resume section styles */

.resume-embed {
  max-width: 1000px;
  height: 2100px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.pdf-dl {
  color: var(--primary-text);
}

.resume-embed p {
  font-size: 30px;
}

/* Header style adjustments */

#about-header::before {
  left: 3rem;
  width: 9rem;
}

#work-header::before {
  left: 2.5rem;
  top: 3.2rem;
  width: 8rem;
}

#contact-header::before {
  left: 4rem;
  top: 3.15rem;
  width: 11rem;
}

#resume-header::before {
  left: 4rem;
  top: 3.15rem;
  width: 11rem;
}

/* Animations */ 

@keyframes slideInFromRight {
  0% {
    transform: translateX(-25%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(+25%);
    opacity: 0%;  
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(+100%);
    opacity: 0%;
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
    visibility: visible;
  }
}

/* Media queries */

@media screen and (min-width: 1280px) {
  .about-layout {
    margin: 40px;
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}

@media screen and (min-width: 1629px) {
  .about-layout {
    gap: 150px;
  }

  .avatar-wrapper {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 900px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .resume-embed {
    height: 1000px;
  }
}

@media screen and (max-width: 767px) {
  .button-wrapper {
    font-size: 20px;
  }

  .nav-links li a {
    font-size: 1.5rem;
  }

  #about-header::before {
    border-bottom-width: 35px;
    left: 2.25rem;
    top: 2.25rem;
    width: 8rem;
  }

}

@media screen and (max-width: 646px) {
  .nav-links li a {
    font-size: 1.2rem;
  }

  .tech-wrapper {
    padding: 20px 10px;
  }

  .tech-wrapper::before {
    border-width: 4px;
    padding: 60px;
  }

  .tech-format {
    width: 50px;
    height: 50px;
  }

  .tech-wrapper p {
    font-size: 1rem;
  }

}

@media screen and (max-width: 506px) {
  .resume-embed {
    height: 500px;
  }
  #Work {
    padding-left: 25px;
    padding-right: 25px;
  }
  .project-text p {
    font-size: 1rem;
  }

  .project-format {
    margin-left: 0px;
    margin-right: 0px;
  }

  .project-img-format {
    height: 150px;
  }
  .avatar-wrapper {
    width: 200px;
    height: 200px;
  }
  .button-wrapper {
    font-size: 15px;
  }

  .nav-wrapper {
    height: 215px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .nav-links li a {
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 484px) {
  .form-button {
    width: auto;
  }
  .project-button-wrapper {
    flex-direction: column;
  }
  .techs-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .tech-wrapper:nth-last-child(1):nth-child(odd) {
  grid-column: 2 / span 2;
  }

}

@media screen and (max-width: 356px) {
  .tech-wrapper::before {
    padding: 55px;
    margin: -22px;
  }

  .tech-wrapper p {
    font-size: 0.8rem;
  }
  
}

@media screen and (max-width: 320px) {
  .tech-wrapper::before {
    padding: 50px;
  }
}